@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
header{
    background-color: #f0f0f0;
    width: 100%;
    position: fixed;
    z-index: 999;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 150px;
}
.logo{
    text-decoration: none;
    color: #000000;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1.8em;
}
.navigation a{
    color: #ffffff;
    text-decoration: none;
    font-size: 1.1em;
    font-weight: 500;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-left: 10px;
    background-color: #000000;
    border-radius: 30px;
    text-align: center;
}
.navigation a:hover{
    padding-left: 28px;
    padding-right: 28px;
    padding-top: 8px;
    padding-bottom: 8px;
    transition-duration: 400ms;
    background-color: #000000;
}
section{
    padding: 100px 150px;
}
.main{
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    background: url(./hos.jpg) no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
.main h2{
    color: white;
    font-size: 1.4em;
    font-weight: 500;
}
.main h2 span{
    color: #000000;
    font-size: 2.3em;
    font-weight: 600;
    
}
.main h3{
    color: white;
    font-size: 1.7em;
    font-weight: 700;
    letter-spacing: 1px;
    margin-bottom: 30px;
}
.main_btn{
    color: white;
    text-decoration: none;
    background-color: #000000;
    font-size: 1em;
    font-weight: 600;
    display: inline-block;
    padding: 0.9375em 2.1875em;
    letter-spacing: 1px;
    border-radius: 15px;
    margin-bottom: 30px;
    transition: 400ms ease;
}
.main_btn:hover{
    background-color: #000000;
    transform: scale(1.1);
    
}
.social_icons a{
    color: white;
    font-size: 1.7em;
    padding-right: 26px;
}
.title{
    display: flex;
    justify-content: center;
    font-size: 2.2em;
    font-weight: 800;
    margin-bottom: 25px;
}
.content{
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}
.card{
    background-color: white;
    width: 21.25em;
    box-shadow: 0 5px 25px rgba(1 1 1 / 15%);
    border-radius: 10px;
    padding: 25px;
    margin: 15px;
    transition: 400ms ease;
}
.card:hover{
    transform: scale(1.1);
}
.icon{
    font-size: 8em;
    text-align: center;
}
.info{
    text-align: center;
}
.info h3{
    font-size: 1.2em;
    font-weight: 700;
    margin: 10px;
}
.projects{
    background-color: #000016;
}
.projects .content{
    margin-top: 30px;
}
.projects_card{
    background-color: white;
    border: 1px solid white;
    min-height: 14em;
    width: 23em;
    overflow: hidden;
    border-radius: 10px;
    margin: 20px;
    transition: .7s ease;

}
.projects .title{
    color: white;
}
.projects_card:hover{
    transform: scale(1.1);
}
.projects_image img{
    width: 100%;
}
.projects_card:hover .projects_image{
    opacity: 0.9;
}
.project_info{
    padding: 1em;
}
.project_category{
    font-size: 1em;
}
.project_title{
    display: flex;
    justify-content: space-between;
    text-transform: uppercase;
    font-weight: 800;
    margin-top: 10px;
}
.more{
    text-decoration: none;
}
.more:hover{
    color: #000000;
}
.card_contact p{
    font-size: 1.1em;
}
.footer{
    padding-right: 10px;
    padding-left: 10px;
    display: flex;
    justify-content: space-between;
    background-color: #000016;
}
.footer p{
    color: white;
    padding-top: 5px;
}
.footer span{
    color: rgb(46, 12, 120);
}
/* @media (max-width:1023){
    header{
        padding: 12px 20px;
    }
    .navigation a{
        padding-left: 15px;
    padding-right: 15px;
    padding-top: 2.5px;
    padding-bottom: 2.5px;
    margin-left: 5px;
    }
} */